### 9. Quais são os top 15 melhores filmes?

In [1]:
import pandas as pd

In [2]:
#Importando arquivo:
title_names= pd.read_csv('Arquivos/title_names.tsv',sep='\t')

C:\Users\Jump Label\AppData\Local\Temp\ipykernel_14476\1692631585.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  title_names= pd.read_csv('Arquivos/title_names.tsv',sep='\t')

In [3]:
#Importando arquivo:
avaliacoes = pd.read_csv('Arquivos/t_ratings.tsv', sep = '\t')

In [5]:
#Juntando as tabelas:
juncao = pd.merge(title_names, avaliacoes, on='tconst', how='left')

In [8]:
#Selecionando apenas as colunas que desejo apresentar na tabela:
juncao = juncao[['tconst','titleType','primaryTitle','genres','averageRating','numVotes']]

In [10]:
#Filtrando para aparecer apenas filmes na tabela:
juncao= juncao[juncao['titleType']== 'movie']

In [11]:
#Visualizar resultado:
juncao

,tconst,titleType,primaryTitle,genres,averageRating,numVotes
498,tt0000502,movie,Bohemios,\N,4.4,15.0
570,tt0000574,movie,The Story of the Kelly Gang,"Action,Adventure,Biography",6.1,744.0
587,tt0000591,movie,The Prodigal Son,Drama,5.0,17.0
610,tt0000615,movie,Robbery Under Arms,Drama,4.5,24.0
625,tt0000630,movie,Hamlet,Drama,3.9,25.0
...,...,...,...,...,...,...
8581094,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Documentary,NaN,NaN
8581121,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,Documentary,NaN,NaN
8581133,tt9916706,movie,Dankyavar Danka,Comedy,NaN,NaN
8581144,tt9916730,movie,6 Gunn,\N,NaN,NaN
8581154,tt9916754,movie,Chico Albuquerque - Revelações,Documentary,NaN,NaN

In [12]:
#Visualizar tipos:
juncao.dtypes

tconst            object
titleType         object
primaryTitle      object
genres            object
averageRating    float64
numVotes         float64
dtype: object

In [15]:
#Visualizar o minimo e o máximo de votos:
juncao.describe()

       averageRating      numVotes
count  273317.000000  2.733170e+05
mean        6.144613  3.449367e+03
std         1.336116  3.331007e+04
min         1.000000  5.000000e+00
25%         5.400000  1.800000e+01
50%         6.300000  5.700000e+01
75%         7.000000  2.910000e+02
max        10.000000  2.518565e+06

In [24]:
#RESPOSTA:
#Ordenar de forma decrescente a quantidade de votos e a média de avaliações:
juncao.sort_values(by=['numVotes','averageRating'],ascending = False).head(15)

,tconst,titleType,primaryTitle,genres,averageRating,numVotes
108681,tt0111161,movie,The Shawshank Redemption,Drama,9.3,2518565.0
450188,tt0468569,movie,The Dark Knight,"Action,Crime,Drama",9.0,2468802.0
3041723,tt1375666,movie,Inception,"Action,Adventure,Sci-Fi",8.8,2213876.0
133606,tt0137523,movie,Fight Club,Drama,8.8,1980704.0
107371,tt0109830,movie,Forrest Gump,"Drama,Romance",8.8,1943565.0
108434,tt0110912,movie,Pulp Fiction,"Crime,Drama",8.9,1941132.0
129416,tt0133093,movie,The Matrix,"Action,Sci-Fi",8.7,1811981.0
117856,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,"Action,Adventure,Drama",8.8,1759970.0
161652,tt0167260,movie,The Lord of the Rings: The Return of the King,"Action,Adventure,Drama",8.9,1738886.0
67280,tt0068646,movie,The Godfather,"Crime,Drama",9.2,1734324.0
791200,tt0816692,movie,Interstellar,"Adventure,Drama,Sci-Fi",8.6,1665025.0
2878545,tt1345836,movie,The Dark Knight Rises,"Action,Crime,Drama",8.4,1604234.0
161653,tt0167261,movie,The Lord of the Rings: The Two Towers,"Action,Adventure,Drama",8.7,1571431.0
111793,tt0114369,movie,Se7en,"Crime,Drama,Mystery",8.6,1546178.0
4715947,tt1853728,movie,Django Unchained,"Drama,Western",8.4,1456234.0

In [19]:
#Fazendo um exemplo, somente para visualizalçao, da ordenacao feita por media de avalições primeiro:
#Podemos perceber que as médias são mais altas mas o número de votos é absurdamente menor!
juncao.sort_values(by=['averageRating','numVotes'],ascending = False).head(20)

,tconst,titleType,primaryTitle,genres,averageRating,numVotes
4389172,tt16312196,movie,Maa Kathalu,Drama,10.0,706.0
3074770,tt1381658,movie,Queer Icon: The Cult of Bette Davis,Documentary,10.0,221.0
2044969,tt11926728,movie,Days of Géants,"Documentary,Sport",10.0,204.0
3905069,tt1532296,movie,Wild Horses and Renegades,"Documentary,Western",10.0,200.0
2616192,tt12980094,movie,Days of Géants II,Documentary,10.0,188.0
1570322,tt11076052,movie,Electric Burma,Documentary,10.0,185.0
4528310,tt16747572,movie,The Silence of Swastik,"Documentary,History",10.0,93.0
155252,tt0160316,movie,Girls Loving Girls,Adult,10.0,14.0
8483563,tt9707456,movie,Nightshade,"Mystery,Thriller",10.0,10.0
4519594,tt16728922,movie,The Fountain of Youth,Adventure,10.0,8.0
4000132,tt15497184,movie,Babysam,Family,10.0,7.0
2978288,tt13639922,movie,Heroes Immortal: The Story of the Four Chaplains,War,10.0,5.0
4347804,tt16228146,movie,Oru Canadian Diary,Thriller,9.9,4418.0
1962649,tt11779744,movie,Ajinkya,Romance,9.9,744.0
2727652,tt13181612,movie,Tari Sathe,Family,9.9,445.0
2162581,tt12139560,movie,Maradu 357,Drama,9.9,225.0
8475996,tt9691482,movie,Kaye Ballard - The Show Goes On,Biography,9.9,206.0
2480475,tt12729258,movie,The Toymaker Hidden Heirloom,Documentary,9.9,36.0
4908376,tt2053474,movie,Waldheim-KGB Agent Kurt,"Biography,Documentary,History",9.9,16.0
3066951,tt13802560,movie,Lalon Fair,"Documentary,History",9.9,12.0